*{
  box-sizing: border-box;
}
@mixin flex($fd, $jc, $ai){
  display: flex;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
}
html, body{
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
#container{
  height: 100%;
  width: 100%;
  @include flex(column, center, center);
}
#google{
  width: 272px;
}
.wrap-google{
  height: 115px;
}
.bars-container{
  z-index: 100;
  @include flex(column, flex-start, center);
  border: solid 1px #d7d7d7;
  border-radius: 20px;
  width: 550px;
  &.focused, &:hover{
    box-shadow: 0px 2px 3px rgba(55, 55, 55, .2);
  }
}
.row{
  padding: 5px 5px 5px 5px;
  width: 528px;
}
.wrap-search-bar{
  @include flex(row, space-between, center);
  border-bottom: solid 1px transparent;
    &.expand{
    border-bottom: solid 1px #e7e7e7;
  }
}
#input-search-bar{
  width: 480px;
  outline: none;
  border: none;
  background-color: transparent;
  height: 33px;
}
#wrap-search-history{
  display: none;
  &.show{
    display: flex;
  }
}
.wrap-search-history{
  position: absolute;
  @include flex(row, space-between, center);
  height: 40px;
  position: relative;
  cursor: pointer;
  text-decoration: none;
}
.search.query{
  width: 405px;
  color:rgb(92, 8, 120);
}
#wrap-buttons{
  @include flex(row, space-around, center);
  & :not(:first-child){
    margin-left: 15px;
  }
}
.btn{
  color: #5b5b5b;
  height: 40px;
  border-radius: 6px;
  border: 1px solid transparent;
  margin-top: 30px;
  padding: 12px;
  font-size: 14px;
  cursor: pointer;
  &:hover{
    border-color: #d7d7d7;
  }
  &:active{
    outline: lightblue;
  }
}
#magifier{
  position: relative;
  fill: #787878;
  z-index: 2;
  width: 20px;
}
#mic{
  width: 20px;
  fill: #787878;
}
svg.clock{
  display: inline-block;
  fill: #787878;
  width: 15px;
}