body{
    // background-color:#589167;
    background-color:#dcffcc;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}

%container{
    height: 500px;
    width: 100%;
}

#section-1{
    @extend %container;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0% 0%, 0% 70%, 50% 100%, 100% 70%,100% 0%);
    #wrap-content-1{
        z-index: 2;
        height: inherit;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        #profile-picture{
          background-image: url('images/harry_profile.png');
          border-radius: 50%;
          background-size: contain;
          width:  300px;
          height: 300px;
          opacity: 1;
        //   animation: pic-in 3.5s 0s ease forwards;
          @keyframes pic-in{
              from{opacity:0;transform: translateX(-300px);}
              to{opacity:1;transform: translateX(-100px);filter: drop-shadow(5px 5px 30px rgb(10,10,10));}
          }
        }
        #name{
            font-size: 50px;
            margin-bottom:30px;
        }

    }
}
.mask{
    background-color:rgba(0, 0, 0, 0.507);
    height: 500px;
    position:absolute;
    width: 100%;
    z-index: 1;
}
%parallax{
    height: 500px;
    width: 100%;
    position:absolute;
    background-attachment: fixed;
    background-size: cover;
    z-index: 0;
}

.parallax{
    @extend %parallax;
    &.light{
        background-image: url("images/m_light.jpg");
    }
    &.sunset{
        background-image: url("images/m_sunset.jpg")
    }
    &.green{
        background-image: url("images/m_green.jpg")
    }
}



section:not(:first-child){
    margin-top: -100px;
    clip-path: polygon(0% 0%, 50% 30%,100% 0%, 100% 70%, 50% 100%, 0% 70%, 0% 0%);
}
#section-2{
    @extend %container;
}
