@font-face {
  font-family: 'GenJyuuGothic-Regular';
  src: url("./fonts/GenJyuuGothic-Regular.ttf") format("truetype"); }
@font-face {
  font-family: 'NotoSansCJKtc-Light';
  src: url("./fonts/NotoSansCJKtc-Light.otf") format("opentype"); }
html, body {
  margin: 0;
  background-color: #e2e2e2; }

body {
  font-family: 'GenJyuuGothic-Regular';
  display: flex;
  flex-direction: row; }

a, a:active, a:visited {
  text-decoration: none;
  color: #3e3838; }

ul {
  list-style: none;
  padding: 0; }

#nav-entry {
  z-index: 2;
  position: fixed;
  left: 50px;
  top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  #nav-entry #nav-toggle {
    cursor: pointer;
    font-size: 60px;
    transition: .1s ease;
    color: #3e3838; }

nav {
  position: relative;
  background-color: #6e7da2;
  transition: 0.8s ease;
  width: 0;
  height: inherit;
  overflow-x: hidden;
  border-right: 3px solid #3e3838;
  box-shadow: 0 0 20px grey; }
  nav ul#primary {
    position: fixed;
    padding: 120px 0 0 50px;
    height: auto; }
  nav li.primary {
    padding-top: 5px; }
    nav li.primary a {
      transition: .1s ease;
      font-size: 30px;
      color: #dadada; }
      nav li.primary a:hover {
        color: #fff;
        text-shadow: -1px 0 #3e3838, 0 1px #3e3838, 1px 0 #3e3838, 0 -1px #3e3838;
        filter: drop-shadow(1px 1px 1px #3e3838); }
      nav li.primary a:active {
        color: #888;
        filter: drop-shadow(2px 2px 2px #3e3838); }
  nav ul.secondary {
    overflow-y: hidden;
    height: 0;
    border-left: 2px solid #3e3838;
    margin-left: 20px;
    padding-left: 20px;
    transition: .8s ease; }
    nav ul.secondary li.secondary a {
      font-size: 20px;
      cursor: pointer; }

main#container {
  background-color: #e2e2e2;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
  left: 0;
  transition: 0.8s ease; }

section {
  font-family: 'NotoSansCJKtc-Light';
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 500px;
  width: inherit;
  background-color: #f9fcfb;
  margin-bottom: 100px;
  color: #3e3838; }
  section:last-child {
    margin-bottom: 200px; }

.section-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 400px; }
  .section-body:first-child {
    flex-direction: row;
    align-items: center;
    padding-right: 0; }
  .section-body .info-title {
    font-size: 50px;
    font-weight: 900; }
    .section-body .info-title::after {
      content: '';
      height: 0;
      width: 0;
      border-right: 3px solid #3e3838;
      margin: 0 70px 0 70px; }
  .section-body .wrap-info-items .info-subtitle {
    font-size: 20px;
    font-weight: 900; }
  .section-body .wrap-info-items li {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .section-body .wrap-info-items li:not(:first-child) {
      padding-top: 30px; }
  .section-body .wrap-info-items a.info-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 300px;
    padding-top: 30px; }
    .section-body .wrap-info-items a.info-item:last-child {
      padding-bottom: 50px; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes padding-right30 {
  from {
    padding-right: 0px; }
  to {
    padding-right: 30px; } }
img#me {
  opacity: 0;
  height: 250px;
  width: 250px;
  animation: fadeIn 1s .5s forwards, padding-right30 1s .5s forwards; }

#name {
  font-size: 50px;
  color: #3e3838;
  font-weight: bold; }

div#wrap-name-skills {
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
  animation: fadeIn 1s .5s forwards; }

div#wrap-skills {
  margin-top: 20px; }

span.skill:not(:first-child)::before {
  height: 10px;
  border: 1px solid #3e3838;
  content: '';
  margin: 0 5px 0 5px;
  border-style: solid; }

@keyframes arrow-pulsating {
  0% {
    margin-left: 0; }
  100% {
    margin-left: 10px; } }
.arrow-wrap {
  display: inline-block;
  width: 30px; }

.arrow {
  content: '';
  height: 0;
  width: 0;
  border-style: solid none solid solid;
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent #3e3838;
  padding-right: 30px;
  animation: arrow-pulsating .5s alternate infinite; }

ul.aboutme li {
  display: flex;
  align-items: center; }

img#github-logo {
  width: 120px;
  height: 50px;
  margin-left: -7px; }

img#codepen-logo {
  width: 170px;
  height: 35px; }

img#cakeresume-logo {
  width: 40px;
  height: 40px; }

img#google-logo {
  width: 40px;
  height: 40px; }

img#linked-in-logo {
  width: 150px;
  height: 40px; }

span.info-text {
  font-size: 20px;
  font-weight: bold;
  min-width: 250px; }

a.info-contact {
  padding-left: 50px; }
  a.info-contact::before {
    content: '';
    height: 0;
    width: 0;
    border-style: solid none solid solid;
    border-width: 10px 0 10px 15px;
    border-color: transparent transparent transparent #3e3838;
    padding-right: 30px; }

div.padding50 {
  padding-bottom: 50px; }

#slider-1 {
  position: relative;
  height: 400px;
  width: 600px;
  padding-bottom: 50px; }

.wrap-slide-page {
  margin: 10px 0 0 10px;
  position: absolute;
  z-index: 1;
  color: rgba(255, 255, 255, 0.8); }

.container-slider-buttons {
  position: absolute;
  z-index: 1;
  height: 400px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }

.wrap-slider-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px; }

.a-slider {
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  transition: .5s ease-out; }
  .a-slider:nth-child(2) {
    margin: 0 5px 0 5px; }
  .a-slider:hover {
    background-color: rgba(255, 255, 255, 0.5); }
  .a-slider:active {
    background-color: rgba(255, 255, 255, 0.4); }

.container-img {
  position: absolute;
  width: 600px;
  height: inherit;
  overflow: hidden;
  border-radius: 15px; }

#wrap-img {
  position: absolute;
  width: 1800px;
  height: 400px;
  display: flex;
  flex-direction: row;
  transition: .5s ease; }

.mask {
  border-radius: inherit;
  background-color: rgba(90, 90, 90, 0.3);
  position: absolute;
  width: 600px;
  height: inherit; }

.pic {
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  display: inline-block; }

#img-1 {
  background-image: url(https://salishmagazine.org/wp-content/uploads/2019/07/1-20170819-5038D800-600-400.jpg); }

#img-2 {
  background-image: url(https://i2.wp.com/hdtanning.com/wp-content/uploads/2016/11/sea-sunny-person-beach-600x400.jpg?fit=600%2C400&ssl=1); }

#img-3 {
  background-image: url(https://i2.wp.com/drleskertay.com/wp-content/uploads/2017/08/NH-sunset-cropped-600x400.jpg?ssl=1); }

/*# sourceMappingURL=style.css.map */
