// nav: #a0855b;
// btn-background-color: rgba(0, 103, 104, 0.4);
// background-color: rgb(48, 36, 30);
// background-color: #DBDBDB;
// borders: rgba(54,54,54,.8);
@font-face{
  font-family: 'GenJyuuGothic-Regular';
  src: url("./fonts/GenJyuuGothic-Regular.ttf") format("truetype");
}

@font-face{
  font-family: 'NotoSansCJKtc-Light';
  src: url("./fonts/NotoSansCJKtc-Light.otf") format("opentype");
}

$back-color: rgb(226, 226, 226);
$nav-transition-time: .8s;
$font-color: #3e3838;
$ul-secondary-height: 120px;
html, body {
  margin: 0;
  background-color: $back-color;
}
body {
  font-family: 'GenJyuuGothic-Regular';
  display: flex;
  flex-direction: row;
}
a, a:active, a:visited {
  text-decoration: none;
  color: $font-color;
}
ul {
  list-style: none;
  padding: 0;
}
#nav-entry {
  z-index: 2;
  position: fixed;
  left: 50px;
  top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  #nav-toggle{
    cursor: pointer;
    font-size: 60px;
    transition: .1s ease;
    color: $font-color;
  }
}

nav {
  position: relative;
  background-color: #6e7da2;
  transition: $nav-transition-time ease;
  width: 0;
  height: inherit;
  overflow-x: hidden; //only x else y will overflow
  border-right: 3px solid rgba(54, 54, 54, .8);
  box-shadow: 0 0 20px grey;

  ul#primary{
    position: fixed;
    padding: 120px 0 0 50px;
    height: auto;
  }

  li.primary {
    a{
      transition: .4s ease;
      font-size: 30px;
      color: #e0e0e0;
      &:hover{
        color: #fff;
        text-shadow: -1px 0 rgba(54,54,54,.5), 0 1px rgba(54,54,54,.5), 1px 0 rgba(54,54,54,.5), 0 -1px rgba(54,54,54,.5);
      }
    }

    &:hover + li.primary ul.secondary {
      height: $ul-secondary-height;
    }
  }

  ul.secondary{
    overflow-y: hidden;
    height: 0;
    border-left: 2px solid $font-color;
    margin-left: 20px;
    padding-left: 20px;
    transition: .4s ease;
    &:hover{
      height: $ul-secondary-height;
    }

    li.secondary a{
      font-size: 20px;
      cursor: pointer;
    }
  }
}

main#container{
  background-color: $back-color;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
  left: 0;
  transition: $nav-transition-time ease;
}


section{
  font-family: 'NotoSansCJKtc-Light';
  position: relative;
  height: 400px;
  width: inherit;
  display: flex;
  background-color: #f9fcfb;
  padding: 30px 0 50px 300px;
  margin-bottom: 100px;
  &:last-child{
    margin-bottom: 200px;
  }
}

section#me{
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

img#me{
  height: 250px;
  width: 250px;
  margin-right: 80px;
}

span#name{
  margin-left: 80px;
  font-size: 50px;
  color: $font-color;
  font-weight: bold;
  // text-shadow: -1px 0 rgba(54,54,54,.5), 0 1px rgba(54,54,54,.5), 1px 0 rgba(54,54,54,.5), 0 -1px rgba(54,54,54,.5);
}

section.info{
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  color: $font-color;
  // text-shadow: -1px 0 rgba(54,54,54,.5), 0 1px rgba(54,54,54,.5), 1px 0 rgba(54,54,54,.5), 0 -1px rgba(54,54,54,.5);
}

.info-title{
  font-size: 60px;
}

a.item{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 300px;
}

img#github-logo{
  width: 120px;
  height: 50px;
  margin-left: -7px;
}

img#codepen-logo{
  width: 170px;
  height: 35px;
}
img#google-logo{
  width: 40px;
  height: 40px;
}
img#linked-in-logo{
  width: 150px;
  height: 40px;
}

a.info{
  font-size: 20px;
  font-weight: bold;
}