// nav: #a0855b;
// btn-background-color: rgba(0, 103, 104, 0.4);
// background-color: rgb(48, 36, 30);
// background-color: #DBDBDB;
// borders: rgba(54,54,54,.8);
html, body {
  margin: 0;
  background-color: #DBDBDB;
}

body {
  display: flex;
  flex-direction: row;
}

#nav-entry {
  position: absolute;
  left: 30px;
  top: 30px;
  display: flex;
  flex-direction: row;
  font-size: 40px;
  color: rgba(54,54,54,.8);
  cursor: pointer;
  border: 1px solid black;

  #txt-menu{
    display: inline-block;
    width: 0px;
    overflow: hidden;
    transition: .3s;
  }

  #nav-toggle{
    &:hover + #txt-menu{
      width: 120px;
    }
  }
}

nav {
  position: fixed;
  z-index: 1;
  background-color: #a0855b;
  transition: 1s ease forward;
  width: 0;
  overflow: hidden;
  ul {
    padding: 0;
    list-style: none;
    li {
      color: #cfcfcf;
      transition: .5s ease;
      &:hover{
        text-shadow: -1px 0 rgba(54,54,54,.8), 0 1px rgba(54,54,54,.8), 1px 0 rgba(54,54,54,.8), 0 -1px rgba(54,54,54,.8);
      }
    }
  }
}