@font-face {
  font-family: 'GenJyuuGothic-Regular';
  src: url("./fonts/GenJyuuGothic-Regular.ttf") format("truetype"); }
@font-face {
  font-family: 'NotoSansCJKtc-Light';
  src: url("./fonts/NotoSansCJKtc-Light.otf") format("opentype"); }
html, body {
  margin: 0;
  background-color: #e2e2e2; }

body {
  font-family: 'GenJyuuGothic-Regular';
  display: flex;
  flex-direction: row; }

a, a:active, a:visited {
  text-decoration: none;
  color: #3e3838; }

ul {
  list-style: none;
  padding: 0; }

#nav-entry {
  z-index: 2;
  position: fixed;
  left: 50px;
  top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  #nav-entry #nav-toggle {
    cursor: pointer;
    font-size: 60px;
    transition: .1s ease;
    color: #3e3838; }

nav {
  position: relative;
  background-color: #6e7da2;
  transition: 0.8s ease;
  width: 0;
  height: inherit;
  overflow-x: hidden;
  border-right: 3px solid rgba(54, 54, 54, 0.8);
  box-shadow: 0 0 20px grey; }
  nav ul#primary {
    position: fixed;
    padding: 120px 0 0 50px;
    height: auto; }
  nav li.primary {
    padding-top: 5px; }
    nav li.primary a {
      transition: .1s ease;
      font-size: 30px;
      color: #dadada; }
      nav li.primary a:hover {
        color: #fff;
        text-shadow: -1px 0 rgba(54, 54, 54, 0.5), 0 1px rgba(54, 54, 54, 0.5), 1px 0 rgba(54, 54, 54, 0.5), 0 -1px rgba(54, 54, 54, 0.5);
        filter: drop-shadow(1px 1px 1px grey); }
      nav li.primary a:active {
        color: #888;
        filter: drop-shadow(2px 2px 2px black); }
  nav ul.secondary {
    overflow-y: hidden;
    height: 0;
    border-left: 2px solid #3e3838;
    margin-left: 20px;
    padding-left: 20px;
    transition: .8s ease; }
    nav ul.secondary li.secondary a {
      font-size: 20px;
      cursor: pointer; }

main#container {
  background-color: #e2e2e2;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
  left: 0;
  transition: 0.8s ease; }

section {
  font-family: 'NotoSansCJKtc-Light';
  position: relative;
  min-height: 500px;
  width: inherit;
  display: flex;
  background-color: #f9fcfb;
  margin-bottom: 100px;
  padding: 10px 0 50px 250px; }
  section:last-child {
    margin-bottom: 200px; }

div.section-body {
  padding-left: 30px; }

section#me {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 0 50px 300px; }

div#wrap-short-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 80px; }

div#wrap-short-info-skills {
  padding-top: 20px; }

span.wrap-short-info-skill:not(:first-child)::before {
  height: 15px;
  border: 1px solid #3e3838;
  content: '';
  margin: 0 5px 0 5px;
  border-style: solid; }

img#me {
  height: 250px;
  width: 250px;
  margin-right: 80px; }

span#name {
  font-size: 50px;
  color: #3e3838;
  font-weight: bold; }

@keyframes arrow-pulsating {
  0% {
    margin-left: 30px; }
  100% {
    margin-left: 0; } }
section.info {
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  color: #3e3838; }

.info-title {
  font-size: 50px;
  font-weight: 900; }

.info-subtitle {
  font-size: 30px;
  font-weight: 900; }

a.info-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 300px;
  padding-top: 30px; }

img#github-logo {
  width: 120px;
  height: 50px;
  margin-left: -7px; }

img#codepen-logo {
  width: 170px;
  height: 35px; }

img#cakeresume-logo {
  width: 40px;
  height: 40px; }

img#google-logo {
  width: 40px;
  height: 40px; }

img#linked-in-logo {
  width: 150px;
  height: 40px; }

span.info-text {
  font-size: 20px;
  font-weight: bold;
  min-width: 250px; }

a.info-contact {
  padding-left: 50px; }
  a.info-contact::before {
    content: '';
    height: 0;
    width: 0;
    border-style: solid none solid solid;
    border-width: 10px 0 10px 15px;
    border-color: transparent transparent transparent #3e3838;
    padding-right: 30px; }

div.padding50 {
  padding-bottom: 50px; }

/*# sourceMappingURL=style.css.map */
