// nav: #a0855b;
// btn-background-color: rgba(0, 103, 104, 0.4);
// background-color: rgb(48, 36, 30);
// background-color: #DBDBDB;
// borders: rgba(54,54,54,.8);
html, body {
  margin: 0;
  background-color: #DBDBDB;
}

body {
  display: flex;
  flex-direction: row;
}

#nav-entry {
  z-index: 1;
  position: absolute;
  left: 30px;
  top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: rgba(54,54,54,.8);
  cursor: pointer;

  #nav-toggle{
    font-size: 60px;
    &:hover + #txt-menu{
      width: 120px;
    }
  }

  #txt-menu{
    display: inline-block;
    width: 0;
    overflow: hidden;
    font-size: 40px;
    transition: .3s;
  }
}

nav {
  position: absolute;
  z-index: 0;
  background-color: #a0855b;
  transition: 1s ease;
  width: 0;
  height: 100%;
  overflow-x: hidden; //only x else y will overflow

  ul {
    position: absolute;
    padding: 90px 0 0 30px;
    list-style: none;
    overflow: hidden;
    width: inherit; //重要

    li a{
      color: #cfcfcf;
      display: block;
      white-space: nowrap;
      transition: .4s ease;
      font-size: 25px;
      width: 140px;
      text-decoration: none;
      &:hover{
        color: #fff;
        text-shadow: -1px 0 rgba(54,54,54,.5), 0 1px rgba(54,54,54,.5), 1px 0 rgba(54,54,54,.5), 0 -1px rgba(54,54,54,.5);
      }
    }
  }
}