// nav: #a0855b;
// btn-background-color: rgba(0, 103, 104, 0.4);
// background-color: rgb(48, 36, 30);
// background-color: #DBDBDB;
// borders: rgba(54,54,54,.8);
@font-face{
  font-family: 'GenJyuuGothic-Regular';
  src: url("./fonts/GenJyuuGothic-Regular.ttf") format("truetype");
}

@font-face{
  font-family: 'NotoSansCJKtc-Light';
  src: url("./fonts/NotoSansCJKtc-Light.otf") format("opentype");
}

$back-color: rgb(226, 226, 226);
$nav-transition-time: .8s;
$font-color: #3e3838;
$ul-secondary-height: 120px;
html, body {
  margin: 0;
  background-color: $back-color;
}
body {
  font-family: 'GenJyuuGothic-Regular';
  display: flex;
  flex-direction: row;
}
a, a:active, a:visited {
  text-decoration: none;
  color: $font-color;
}
ul {
  list-style: none;
  padding: 0;
}
#nav-entry {
  z-index: 2;
  position: fixed;
  left: 50px;
  top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  #nav-toggle{
    cursor: pointer;
    font-size: 60px;
    transition: .1s ease;
    color: $font-color;
  }
}

nav {
  position: relative;
  background-color: #6e7da2;
  transition: $nav-transition-time ease;
  width: 0;
  height: inherit;
  overflow-x: hidden; //only x else y will overflow
  border-right: 3px solid rgba(54, 54, 54, .8);
  box-shadow: 0 0 20px grey;

  ul#primary{
    position: fixed;
    padding: 120px 0 0 50px;
    height: auto;
  }

  li.primary {
    padding-top: 5px;

    a{
      transition: .1s ease;
      font-size: 30px;
      color: #dadada;
      &:hover{
        color: #fff;
        text-shadow: -1px 0 rgba(54,54,54,.5), 0 1px rgba(54,54,54,.5), 1px 0 rgba(54,54,54,.5), 0 -1px rgba(54,54,54,.5);
        filter: drop-shadow(1px 1px 1px grey);
      }
      &:active{
        color: #888;
        filter: drop-shadow(2px 2px 2px black);
      }
    }
  }

  ul.secondary{
    overflow-y: hidden;
    height: 0;
    border-left: 2px solid $font-color;
    margin-left: 20px;
    padding-left: 20px;
    transition: .8s ease;

    li.secondary a{
      font-size: 20px;
      cursor: pointer;
    }
  }
}

main#container{
  background-color: $back-color;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
  left: 0;
  transition: $nav-transition-time ease;
}


section{
  font-family: 'NotoSansCJKtc-Light';
  position: relative;
  min-height: 500px;
  width: inherit;
  display: flex;
  background-color: #f9fcfb;
  margin-bottom: 100px;
  &:last-child{
    margin-bottom: 200px;
  }
  padding: 10px 0 50px 250px;
}

div.section-body{
  padding-left:30px;
}

section#me{
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 0 50px 300px;
}

div#wrap-short-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 80px;
}

div#wrap-short-info-skills{
  padding-top: 20px;
}

span.wrap-short-info-skill:not(:first-child)::before{
  height: 15px;
  border: 1px solid $font-color;
  content: '';
  margin: 0 5px 0 5px;
  border-style: solid;
}


img#me{
  height: 250px;
  width: 250px;
  margin-right: 80px;
}

span#name{
  font-size: 50px;
  color: $font-color;
  font-weight: bold;
}
@keyframes arrow-pulsating{
  0%{
    margin-left: 30px;
  }
  100%{
    margin-left: 0;
  }
}
// .arrow-wrap{
//   width: 150px;
//   border:1px solid red;
// }
// .arrow::before{
//   content: '';
//   height: 0;
//   width: 0;
//   border-style: solid none solid solid;
//   border-width: 5px 0 5px 9px;
//   border-color: transparent transparent transparent $font-color;
//   padding-right: 30px;
//   // animation: arrow-pulsating .5s alternate infinite;
// }

section.info{
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  color: $font-color;
  // text-shadow: -1px 0 rgba(54,54,54,.5), 0 1px rgba(54,54,54,.5), 1px 0 rgba(54,54,54,.5), 0 -1px rgba(54,54,54,.5);
}

.info-title{
  font-size: 50px;
  font-weight: 900;
}

.info-subtitle{
  font-size: 30px;
  font-weight: 900;
}

a.info-item{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 300px;
  padding-top: 30px;
}

img#github-logo{
  width: 120px;
  height: 50px;
  margin-left: -7px;
}

img#codepen-logo{
  width: 170px;
  height: 35px;
}

img#cakeresume-logo{
  width: 40px;
  height: 40px;
}

img#google-logo{
  width: 40px;
  height: 40px;
}

img#linked-in-logo{
  width: 150px;
  height: 40px;
}

span.info-text{
  font-size: 20px;
  font-weight: bold;
  min-width: 250px;
}

a.info-contact{
  padding-left: 50px;
  &::before {
    content: '';
    height: 0;
    width: 0;
    border-style: solid none solid solid;
    border-width: 10px 0 10px 15px;
    border-color: transparent transparent transparent $font-color;
    padding-right: 30px;
  }
}

div.padding50{
  padding-bottom: 50px;
}
