// nav: #a0855b;
// btn-background-color: rgba(0, 103, 104, 0.4);
// background-color: rgb(48, 36, 30);
// background-color: #DBDBDB;
// borders: rgba(54,54,54,.8);
@font-face{
  font-family: 'GenJyuuGothic-Regular';
  src: url("./fonts/GenJyuuGothic-Regular.ttf") format("truetype");
}

@font-face{
  font-family: 'NotoSansCJKtc-Light';
  src: url("./fonts/NotoSansCJKtc-Light.otf") format("opentype");
}

$back-color: rgb(226, 226, 226);
$nav-back-color: #6e7da2;
$nav-item-default-color: #dadada;
$nav-item-hover-color: #fff;
$nav-item-active-color: #888;
$nav-transition-time: .8s;
$font-color: #3e3838;
$ul-secondary-height: 120px;
$section-back-color: #f9fcfb;
html, body {
  margin: 0;
  background-color: $back-color;
}
body {
  font-family: 'GenJyuuGothic-Regular';
  display: flex;
  flex-direction: row;
}
a, a:active, a:visited {
  text-decoration: none;
  color: $font-color;
}
ul {
  list-style: none;
  padding: 0;
}
#nav-entry {
  z-index: 2;
  position: fixed;
  left: 50px;
  top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  #nav-toggle{
    cursor: pointer;
    font-size: 60px;
    transition: .1s ease;
    color: $font-color;
  }
}

nav {
  position: relative;
  background-color: $nav-back-color;
  transition: $nav-transition-time ease;
  width: 0;
  height: inherit;
  overflow-x: hidden; //only x else y will overflow
  border-right: 3px solid $font-color;
  box-shadow: 0 0 20px grey;

  ul#primary{
    position: fixed;
    padding: 120px 0 0 50px;
    height: auto;
  }

  li.primary {
    padding-top: 5px;

    a{
      transition: .1s ease;
      font-size: 30px;
      color: $nav-item-default-color;
      &:hover{
        color: $nav-item-hover-color;
        text-shadow: -1px 0 $font-color, 0 1px $font-color, 1px 0 $font-color, 0 -1px $font-color;
        filter: drop-shadow(1px 1px 1px $font-color);
      }
      &:active{
        color: $nav-item-active-color;
        filter: drop-shadow(2px 2px 2px $font-color);
      }
    }
  }

  ul.secondary{
    overflow-y: hidden;
    height: 0;
    border-left: 2px solid $font-color;
    margin-left: 20px;
    padding-left: 20px;
    transition: .8s ease;

    li.secondary a{
      font-size: 20px;
      cursor: pointer;
    }
  }
}

main#container{
  background-color: $back-color;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
  left: 0;
  transition: $nav-transition-time ease;
}

section{
  font-family: 'NotoSansCJKtc-Light';
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  min-height: 500px;
  width: inherit;
  background-color: $section-back-color;
  margin-bottom: 100px;
  &:last-child{
    margin-bottom: 200px;
  }
  color: $font-color;
}

.section-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 400px;

  &:first-child{
    flex-direction: row;
    align-items: center;
    padding-right: 0;
  }

  .info-title{
    font-size: 50px;
    font-weight: 900;
    &::after{
      content: '';
      height: 0;
      width: 0;
      border-right: 3px solid $font-color;
      margin: 0 70px 0 70px;
    }
  }

  .wrap-info-items{
    .info-subtitle{
      font-size: 20px;
      font-weight: 900;
    }
    li{
      display: flex;
      flex-direction: row;
      align-items: center;
      &:not(:first-child){
        padding-top: 30px;
      }
    }
    a.info-item{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      width: 300px;
      padding-top: 30px;
      &:last-child{
        padding-bottom: 50px;
      }
    }
  }
}

@keyframes fadeIn{
  from{
    opacity: 0;
  }
  to{
   opacity: 1;
  }
}
@keyframes padding-right30{
from {padding-right: 0px;}
to {padding-right: 30px;}
}
$fadeIn: 'fadeIn 1s .5s forwards';
$pr30: 'padding-right30 1s .5s forwards';
img#me{
  opacity: 0;
  height: 250px;
  width: 250px;
  animation: unquote($fadeIn), unquote($pr30);
}

#name{
  font-size: 50px;
  color: $font-color;
  font-weight: bold;
}

div#wrap-name-skills{
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
  animation: unquote($fadeIn);
}

div#wrap-skills{
  margin-top: 20px;
}

span.skill:not(:first-child)::before{
  height: 10px;
  border: 1px solid $font-color;
  content: '';
  margin: 0 5px 0 5px;
  border-style: solid;
}

@keyframes arrow-pulsating{
  0%{
    margin-left: 0;
  }
  100%{
    margin-left: 10px;
  }
}

.arrow-wrap{
  display: inline-block;
  width: 30px;
}

.arrow{
  content: '';
  height: 0;
  width: 0;
  border-style: solid none solid solid;
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent $font-color;
  padding-right: 30px;
  animation: arrow-pulsating .5s alternate infinite;
}

ul.aboutme li{
  display: flex;
  align-items: center;
}

img#github-logo{
  width: 120px;
  height: 50px;
  margin-left: -7px;
}

img#codepen-logo{
  width: 170px;
  height: 35px;
}

img#cakeresume-logo{
  width: 40px;
  height: 40px;
}

img#google-logo{
  width: 40px;
  height: 40px;
}

img#linked-in-logo{
  width: 150px;
  height: 40px;
}

span.info-text{
  font-size: 20px;
  font-weight: bold;
  min-width: 250px;
}

a.info-contact{
  padding-left: 50px;
  &::before {
    content: '';
    height: 0;
    width: 0;
    border-style: solid none solid solid;
    border-width: 10px 0 10px 15px;
    border-color: transparent transparent transparent $font-color;
    padding-right: 30px;
  }
}

div.padding50{
  padding-bottom: 50px;
}

#slider-1{
  position: relative;
  height: 400px;
  width: 600px;
  padding-bottom: 50px;
}
.wrap-slide-page{
  margin: 10px 0 0 10px;
  position: absolute;
  z-index:1;
  color: rgba(256,256,256,.8);
}
.container-slider-buttons{
  position: absolute;
  z-index: 1;
  height:400px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.wrap-slider-buttons{
  display:flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
}

.a-slider{
  width:20px;
  height:20px;
  background-color: rgba(255,255,255,.6);
  border-radius: 10px;
  transition: .5s ease-out;
  &:nth-child(2){
    margin:0 5px 0 5px;
  }
  &:hover{
    background-color: rgba(255,255,255,.5);
  }
  &:active{
    background-color: rgba(255,255,255,.4);
  }
}

.container-img{
  position: absolute;
  width: 600px;
  height: inherit;
  overflow: hidden; //這個是關鍵用來擋住 1.很長的wrap-img 2. border radius擋住裡面的圖
  border-radius: 15px;
}
#wrap-img{
  position: absolute;
  width: 1800px;
  height: 400px;
  display: flex;
  flex-direction: row;
  transition: .5s ease;
}
.mask{
  border-radius: inherit;
  background-color: rgba(90,90,90,.3);
  position: absolute;
  width: 600px;
  height: inherit;
}
%img{
  background-size: contain; //是說顯示整個張圖，所以會自動偵測比例
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  display: inline-block;
}
.pic{
  @extend %img;
}
#img-1{
  background-image: url(https://salishmagazine.org/wp-content/uploads/2019/07/1-20170819-5038D800-600-400.jpg);
}
#img-2{
  background-image: url(https://i2.wp.com/hdtanning.com/wp-content/uploads/2016/11/sea-sunny-person-beach-600x400.jpg?fit=600%2C400&ssl=1);
}
#img-3{
  background-image: url(https://i2.wp.com/drleskertay.com/wp-content/uploads/2017/08/NH-sunset-cropped-600x400.jpg?ssl=1);
}
