@keyframes typing{
    from {width: 0}
    to {
        width: 100%;
    }
};

@keyframes flickering-caret{
  0%{
    border-color: transparent;
  }
  70%{
    border-color: black;
  }
  100%{
    border-color: transparent;
  }
}
#input{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.paragraph{
  overflow: hidden;
  white-space: nowrap;
  border-right: 1px solid black;
  animation: flickering-caret .4s alternate infinite paused;
};